doctype html
html
  head
    title WE LIKE TO SHOP 2
    link(rel="stylesheet", href="/styles/style.css")
  body
    .container
      h1 WE LIKE TO SHOP 2
      nav
        a(href="/") Home
        |  | 
        a(href="/my-account") My account